body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.nav {
    background-color: white;
    display: flex;
    color: white;
    padding: 16px 0;
    text-align: right;
    width: 100%;
}

.imagelogo {
    display: flex;
    flex: 1;
    height: 50px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

ul :hover {
    background-color: rgb(107, 80, 107);
}

#products {
    display: flex;
    justify-content: space-around;

}

.product {
    border: 2px solid;
    border-color: rgb(179, 246, 248);
    ;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

#product :hover {
    background-color: rgb(148, 221, 248);

}

footer {
    background-color: rgb(207, 203, 203);
    color: black;
    text-align: center;
    padding: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-weight: bolder;
}